:root {
  --success-color: hsl(238, 40%, 52%);
  --warning-color: hsl(358, 79%, 66%);
  --cancel-color: hsl(211, 10%, 45%);
}

.button {
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  padding: 4px 8px 4px 8px;
}

.icon {
  margin-right: 8px;
}

.warningNoBorder {
  background: none;
  border: none;
  color: var(--warning-color);
  font-weight: bold;
}
.successNoBorder {
  background: none;
  border: none;
  color: var(--success-color);
  font-weight: bold;
}

.warning {
  background: var(--warning-color);
  color: white;
  padding: 12px 24px 12px 24px;
}
.success {
  background: var(--success-color);
  color: white;
  padding: 12px 24px 12px 24px;
}
.cancel {
  background: var(--cancel-color);
  color: white;
  padding: 12px 24px 12px 24px;
}
