.container {
  background: hsl(228, 33%, 97%);
  padding: 24px;
  width: inherit;
  margin: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.replyContainer {
  margin-left: 50px;
}

.mainContainer {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
  }
  .replyContainer {
    margin-left: 20px;
  }
  .voteBoxContainer {
    order: 1;
    align-self: flex-start;
  }
  .mainContainer {
    width: 100%;
  }
}
