.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  width: 100%;
}

.textarea {
  min-height: 100px;
  margin: 0px 8px 0px 8px;
  border-radius: 8px;
  border: 1px solid lightgray;
  flex: 1;
  padding: 8px 16px 8px 16px;
  font-family: inherit;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-end;
    /* align-items: stretch; */
  }

  .textarea {
    margin: 8px 0px 8px 0px;
    flex: 1;
    align-self: stretch;
  }
}
